.header-three .second-header {
    background: #2c724f !important;
}
.second-header::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 32%;
    background: transparent;
    top: 0;
    z-index: -1;
    left: -25px;
    transform: skew(30deg);
}
.second-header {
    border: none;
    padding-bottom: 6px;
    background: #2c724f;
    padding-top: 6px;
    color: #fff;
    position: relative;
    z-index: 1;
}
