.header-three .second-header {
    background: #2c724f !important;
}
.second-header::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 32%;
    background: transparent;
    top: 0;
    z-index: -1;
    left: -25px;
    transform: skew(30deg);
}
