.header-three .second-header {
    background: #2c724f !important;
}
.second-header::before {
    background: transparent;
}
.second-header {
    padding-bottom: 6px;
    background: #2c724f;
    padding-top: 6px;
}
.header-social a {
    font-size: 13px;
}
